{{#> layout}}
  {{#*inline "title"}}{{lookup navigation request.uri.path}} feed{{/inline}}
  {{#*inline "content"}}
    <h1 title="{{lookup help request.uri.path}}">{{> title}}</h1>
    <div class="ui vertical clearing segment">
      <div style="display: grid; grid-template-columns: auto max-content max-content; gap: 1em; align-items: center;">
        <div><i class="clock icon"></i> <span id="timing">...</span></div>
        <div class="ui toggle checkbox">
          <input type="checkbox" name="grouped" id="grouping" onchange="update(false)">
          <label>Grouped</label>
        </div>
        <button class="ui tiny labeled icon button" type="submit" onclick="update(true)">
          <i class="refresh icon"></i> Refresh
        </button>
      </div>
    </div>

    <!-- Feed -->
    <div class="ui vertical segment" id="content">
      <div class="ui stackable cards" id="feed">
        <div class="card">
          <div class="content">
            <div class="ui placeholder">
              <div class="header"><div class="medium line"></div></div>
              <div class="meta"><div class="short line"></div></div>
            </div>
            <div class="ui placeholder">
              <div class="description"><div class="line"></div></div>
            </div>
          </div>
          <div class="extra content">
            <div class="center aligned author">
              <div class="ui placeholder">
                <div class="avatar image"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}
  {{#*inline "script"}}
    <script type="text/javascript">
      const following = {{{following}}};
      let results;

      function update(reload) {
        const $content = document.getElementById('content');
        const $feed = document.getElementById('feed');
        const $timing = document.getElementById('timing');
        const start = new Date().getTime();
        const template = Handlebars.compile(`{{{source 'templates/messages'}}}`);
        const grouping = document.getElementById('grouping').checked;

        const completed = function(error) {
          if (null !== error) {
            $feed.innerHTML = template({edges: [], following: following, errors: [error.name + ': ' + error.message]});
          } else if (grouping) {
            let previous = null;
            let grouped = [];
            for (const edge of results) {
              const key = edge.node.threadStarter.sender.id + '@' + edge.node.group.id;
              if (key === previous) {
                grouped[grouped.length - 1].stacked.push(edge);
              } else {
                previous = key;
                grouped.push({...edge, stacked: []});
              }
            }
            $feed.innerHTML = template({edges: grouped, following: following, errors: []});
          } else {
            $feed.innerHTML = template({edges: results, following: following, errors: []});
          }

          $content.classList.remove('loading');
          $timing.innerHTML = ((new Date().getTime() - start) / 1000) + ' seconds';
          $('.excerpt').popup();
        }

        $content.classList.add('loading');
        if (reload) {
          fetch('/api{{request.uri.path}}?limit=15', {method: 'GET', credentials: 'same-origin'})
            .then(res => res.ok ? res.json() : (function() { throw new Error(res.status + ': ' + res.statusText); })())
            .then(result => {
              results = result.viewer.homeFeed.homeFeedCards.edges;
              results.sort((a, b) => ((a.node.updatedAt === b.node.updatedAt) ? 0 : ((a.node.updatedAt > b.node.updatedAt) ? -1 : 1)));
              completed(null)
            })
            .catch(error => completed(error))
          ;
        } else {
          completed(null);
        }
      };

      window.onload = function() {
        $('.ui.checkbox').checkbox();
        update(true);
      };
    </script>
  {{/inline}}
{{/layout}}