{{#> layout}}
  {{#*inline "title"}}{{lookup navigation request.uri.path}} feed{{/inline}}
  {{#*inline "content"}}
    <h1 title="{{lookup help request.uri.path}}">{{> title}}</h1>
    <div class="ui vertical clearing segment">
      <div style="display: grid; grid-template-columns: auto max-content max-content; gap: 1em; align-items: center;">
        <div><i class="clock icon"></i> <span id="timing">...</span></div>
        <select class="ui search dropdown" id="grouping" onchange="update(false)">
          <option value="">No grouping</option>
          <option value="adjacent">Adjacent messages in group</option>
          <option value="person">All by author</option>
        </select>
        <button class="ui tiny labeled icon button" type="submit" onclick="update(true)">
          <i class="refresh icon"></i> Refresh
        </button>
      </div>
    </div>

    <!-- Feed -->
    <div class="ui vertical segment" id="content">
      <div class="ui stackable cards" id="feed">
        <div class="card">
          <div class="content">
            <div class="ui placeholder">
              <div class="header"><div class="medium line"></div></div>
              <div class="meta"><div class="short line"></div></div>
            </div>
            <div class="ui placeholder">
              <div class="description"><div class="line"></div></div>
            </div>
          </div>
          <div class="extra content">
            <div class="center aligned author">
              <div class="ui placeholder">
                <div class="avatar image"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}
  {{#*inline "script"}}
    <script type="text/javascript">
      const following = {{{following}}};
      const group = {
        adjacent : function(results) {
          let previous = null;
          let adjacent = [];
          for (const edge of results) {
            const key = edge.node.threadStarter.sender.id + '@' + edge.node.group.id;
            if (key === previous) {
              adjacent[adjacent.length - 1].stacked.push(edge);
            } else {
              previous = key;
              adjacent.push({...edge, stacked: [], groups: {[edge.node.group.id]: edge.node.group}});
            }
          }
          return adjacent;
        },
        person : function(results) {
          let grouped = {};
          for (const edge of results) {
            let sender = edge.node.threadStarter.sender.id;
            if (undefined === grouped[sender]) {
              grouped[sender]= {...edge, stacked: [], groups: {}};
            } else{
              grouped[sender].stacked.push(edge);
            }
            grouped[sender].groups[edge.node.group.id] = edge.node.group;
          }
          return Object.values(grouped);
        },
      };
      let results;

      function update(reload) {
        const $content = document.getElementById('content');
        const $feed = document.getElementById('feed');
        const $timing = document.getElementById('timing');
        const start = new Date().getTime();
        const template = Handlebars.compile(`{{{source 'templates/messages'}}}`);
        const groupby = document.getElementById('grouping').value;

        const completed = function(error) {
          if (null !== error) {
            $feed.innerHTML = template({edges: [], following: following, errors: [error.name + ': ' + error.message]});
          } else if (groupby) {
            $feed.innerHTML = template({edges: group[groupby](results), following: following, errors: []});
          } else {
            $feed.innerHTML = template({edges: results, following: following, errors: []});
          }

          $content.classList.remove('loading');
          $timing.innerHTML = ((new Date().getTime() - start) / 1000) + ' seconds';
          $('.excerpt').popup();
        }

        $content.classList.add('loading');
        if (reload) {
          fetch('/api{{request.uri.path}}?limit=15', {method: 'GET', credentials: 'same-origin'})
            .then(res => res.ok ? res.json() : (function() { throw new Error(res.status + ': ' + res.statusText); })())
            .then(result => {
              results = result.viewer.homeFeed.homeFeedCards.edges;
              results.sort((a, b) => ((a.node.updatedAt === b.node.updatedAt) ? 0 : ((a.node.updatedAt > b.node.updatedAt) ? -1 : 1)));
              completed(null)
            })
            .catch(error => completed(error))
          ;
        } else {
          completed(null);
        }
      };

      window.onload = function() {
        $('.ui.checkbox').checkbox();
        update(true);
      };
    </script>
  {{/inline}}
{{/layout}}