{{#> layout}}
  {{#*inline "title"}}Feed{{/inline}}
  {{#*inline "content"}}
    <h1>Following Feed</h1>
    <div class="ui vertical segment" style="display: grid; grid-template-columns: calc(640px - 2.64286em) max-content">
      <div style="align-items: center">
        <p>
          {{#if cached}}Retrieved from cache{{else}}Fetched from Yammer in {{duration}} seconds{{/if}}
          <em>(stored until {{date until "H:i:s"}})</em>
        </p>
      </div>
      <form method="POST">
        <button class="ui tiny labeled icon button" type="submit" onclick="this.classList.add('loading')">
          <i class="refresh icon"></i>
          Refresh
        </button>
      </form>
    </div>
    <div class="ui large feed">
      {{#each feed.data.messages}}
        {{feed.reference 'sender' 'user' sender_id}}
        {{feed.reference 'group' 'group' group_id}}

        <div class="event">
          <div class="label">
            <img src="{{sender.mugshot_url}}">
          </div>
          <div class="content">
            <div class="summary">
              <a href="{{sender.web_url}}">{{sender.full_name}}</a> posted in <a href="{{group.web_url}}">{{group.full_name}}</a>
              <a title="{{id}}" class="date" href="{{web_url}}">
                {{date created_at "d.m.Y H:i"}}
              </a>
            </div>
            <div class="extra text" style="max-width: 640px !important">
              {{content_excerpt}}
            </div>

            <!-- Reactions -->
            <div class="meta">
              <span class="like">
                {{#if liked_by.count}}
                  <i class="red like icon"></i>{{liked_by.count}} reaction(s) by
                  {{#each liked_by.names}}
                    <a class="user">{{full_name}}</a>{{#unless @last}}, {{/unless}}
                  {{/each}}
                {{else}}
                  <i class="like icon"></i> no reactions so far
                {{/if}}
              </span>
            </div>

            <!-- Threaded -->
            {{#with (lookup feed.data.threaded_extended thread_id)}}
              {{#if .}}
                <div class="extra content">
                  <div class="ui segment" style="background-color: #fcfcfc; max-width: 640px">
                    <div class="ui small feed">
                      {{#each .}}
                        {{feed.reference 'sender' 'user' sender_id}}
                        <div class="event">
                          <div class="label">
                            <img src="{{sender.mugshot_url}}">
                          </div>
                          <div class="content">
                            <div class="summary">
                              <a href="{{sender.web_url}}">{{sender.full_name}}</a> replied
                              <a title="{{id}}" class="date" href="{{web_url}}">
                                {{date created_at "d.m.Y H:i"}}
                              </a>
                            </div>
                            <div class="extra text">
                              {{content_excerpt}}
                            </div>
                          </div>
                        </div>
                      {{/each}}
                    </div>
                  </div>
                </div>
              {{/if}}
            {{/with}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/inline}}
  {{#*inline "script"}}{{/inline}}
{{/layout}}