{{#> layout}}
  {{#*inline "title"}}Feed{{/inline}}
  {{#*inline "content"}}
    <h1>Following Feed</h1>
    <div class="ui vertical segment">
      <!-- Empty -->
    </div>

    <!-- Feed -->
    <div class="ui vertical segment" id="content">
      {{{{template}}}}
        <template id="event">
          <div class="card">
            <div class="content">
              <div class="header">New {{message.message_type}} in <a href="{{group.web_url}}">{{group.full_name}}</a></div>
              <div class="meta">
                <span class="date"><a title="{{message.id}}" class="date" href="{{message.web_url}}">{{format.date(message.created_at)}}</a></span>
              </div>
              <div class="description">
                <p class="excerpt" data-content="{{message.content_excerpt}}" data-variation="wide inverted">{{format.first(message.content_excerpt)}}</p>
              </div>
            </div>
            <div class="extra content">
              <div class="center aligned author">
                <img class="ui avatar image" src="{{sender.mugshot_url}}"> <a href="{{sender.web_url}}">{{sender.full_name}}</a>
              </div>
            </div>
          </div>
        </template>
      {{{{/template}}}}

      <div class="ui cards" id="feed">
        <div class="card">
          <div class="content">
            <div class="ui placeholder">
              <div class="header"><div class="medium line"></div></div>
              <div class="meta"><div class="short line"></div></div>
            </div>
            <div class="ui placeholder">
              <div class="description"><div class="line"></div></div>
            </div>
          </div>
          <div class="extra content">
            <div class="center aligned author">
              <div class="ui placeholder">
                <div class="avatar image"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}
  {{#*inline "script"}}
    <script type="text/javascript">
      window.onload = function() {
        const $content = document.getElementById('content');
        const $feed = document.getElementById('feed');
        const template = document.getElementById('event').innerHTML;        

        const completed = function(result) {
          let references = [];

          for (const reference of result.references) {
            if (typeof(references[reference.type]) === 'undefined') {
              references[reference.type] = {};
            }
            references[reference.type][reference.id] = reference;
          }

          let html = '';
          for (const message of result.messages) {
            let sender = references.user[message.sender_id];
            let group = references.group[message.group_id];
            html += template.replaceAll(format.placeholders, (match, placeholder) => format.html(eval(placeholder)));
          }

          $feed.innerHTML = html;
          $content.classList.remove('loading');
          $('.excerpt').popup();
        }

        $content.classList.add('loading');
        fetch('/api/feed/following?limit=15', {method: 'GET', credentials: 'same-origin'})
          .then(res => res.json())
          .then(result => { completed(result); })
          .catch(error => { completed({references: [], messages: []}); console.error(error); completed(); })
        ;
      };
    </script>
  {{/inline}}
{{/layout}}