{{#> layout}}
  {{#*inline "title"}}Home{{/inline}}
  {{#*inline "content"}}
    <h1>Murmur <small style="color: rgba(0,0,0,.4)">Yammer Feeds reimagined</small></h1>

    <!-- User information -->
    <div class="ui vertical segment user-info" style="border-bottom: none">
      <div style="display: grid; grid-template-columns: 80px auto">
        <img class="ui circular image" src="{{sub self.mugshot_url_template width='76' height='76'}}" width="76" height="76">
        <div style="padding: 0 2.4em 0 2em">
          <h2 class="ui header" style="margin-bottom: 0.2em">{{self.full_name}}</h2>
          <p>
            <a href="{{self.email}}">{{self.email}}</a>, {{self.department}}, {{self.location}}<br>
            <span style="color: rgba(0,0,0,.4)">
              On <strong>{{self.network_name}}</strong> Yammer since {{date self.activated_at 'd.m.Y'}}
            </span>
          </p>
        </div>
      </div>
      <div class="ui statistics" style="margin-top: 0">
        <div class="violet statistic">
          <div class="value">{{self.stats.following}}</div>
          <div class="label">Following</div>
        </div>
        <div class="violet statistic">
          <div class="value">{{self.stats.followers}}</div>
          <div class="label">Followers</div>
        </div>
        <div class="violet statistic">
          <div class="value">{{size groups}}</div>
          <div class="label">Groups</div>
        </div>
      </div>
    </div>
    <div class="ui vertical clearing segment" style="margin-bottom: 2em">
      <form method="POST">
        <button class="ui right floated tiny labeled icon button" type="submit" onclick="this.classList.add('loading')">
          <i class="refresh icon"></i>
          Refresh
        </button>
      </form>
    </div>

    <!-- Live events -->
    <div id="live"></div>

    <!-- List variants -->
    <div class="ui four raised stackable cards" style="margin-bottom: 1em">
      <div class="card">
        <a class="ui blue right corner label"><i class="podcast icon"></i></a>
        <div class="content">
          <div class="header"><a href="/feed/all">All</a></div>
          <div class="meta">Feed</div>
          <div class="description">Corresponds to “All” conversations in the Yammer web interface.</div>
        </div>
        <div class="extra content"><i class="clock icon"></i> 1 - 2 seconds</div>
      </div>

      <div class="card">
        <a class="ui blue right corner label"><i class="search location icon"></i></a>
        <div class="content">
          <div class="header"><a href="/feed/discovery">Discovery</a></div>
          <div class="meta">Feed</div>
          <div class="description">Discovery feed.</div>
        </div>
        <div class="extra content"><i class="clock icon"></i> 1 - 2 seconds</div>
      </div>

      <div class="card">
        <a class="ui blue right corner label"><i class="user friends icon"></i></a>
        <div class="content">
          <div class="header"><a href="/feed/following">Following</a></div>
          <div class="meta">Feed</div>
          <div class="description">Shows news from groups and people you're following on Yammer</div>
        </div>
        <div class="extra content"><i class="clock icon"></i> 1 - 2 seconds</div>
      </div>

      <div class="card">
        <a class="ui orange right corner label"><i class="tasks icon"></i></a>
        <div class="content">
          <div class="header"><a href="/grouped/all">Grouped</a></div>
          <div class="meta">Feed</div>
          <div class="description">Shows merged feed from selected groups</div>
        </div>
        <div class="extra content"><i class="clock icon"></i> ~1 second</div>
      </div>

      <div class="card">
        <a class="ui teal right corner label"><i class="compass icon"></i></a>
        <div class="content">
          <div class="header"><a href="/grouped/questions">Questions</a></div>
          <div class="meta">Feed</div>
          <div class="description">Shows merged questions from selected groups</div>
        </div>
        <div class="extra content"><i class="clock icon"></i> ~1 second</div>
      </div>

      <div class="card">
        <a class="ui yellow right corner label"><i class="hashtag icon"></i></a>
        <div class="content">
          <div class="header"><a href="/topics">Topics</a></div>
          <div class="meta">Feed</div>
          <div class="description">Shows merged feed from selected topics</div>
        </div>
        <div class="extra content"><i class="clock icon"></i> ~1 second</div>
      </div>

      {{#each groups}}
        <div class="card">
          <div class="content">
            <div class="header"><a href="/group/{{id}}">{{full_name}}</a></div>
            <div class="meta">Group with {{stats.members}} members</div>
            <div class="description">{{description}}</div>
          </div>
          <div class="extra content">
            <div class="center aligned author">
              <img class="ui avatar image" src="{{mugshot_url}}"> {{date stats.last_message_at 'd.m.Y H:i'}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/inline}}
  {{#*inline "script"}}
    <script type="text/javascript">
      function update() {
        const completed = function(result, error) {
          const $live = document.getElementById('live');
          const template = Handlebars.compile(`{{{source 'templates/events'}}}`);

          if (error !== null) {
            console.log('Ignoring', error);
          } else {
            const html = template({edges: result.activeBroadcasts.edges, errors: []});

            // Do not repaint if event has not changed
            if (html !== $live.innerHTML) $live.innerHTML = html;
          }
          setTimeout(update, 10 * 1000);
        }

        fetch('/api/events', {method: 'GET', credentials: 'same-origin'})
          .then(res => res.ok ? res.json() : (function() { throw new Error(res.status + ': ' + res.statusText); })())
          .then(result => completed(result, null))
          .catch(error => completed(null, error))
        ;
      }

      window.onload = update;
    </script>
  {{/inline}}
{{/layout}}