<!DOCTYPE html>
{{declare 'navigation'
  /='Home'
  /feed/all='All'
  /feed/discovery='Discovery'
  /feed/following='Following'
  /grouped/all='Grouped'
  /grouped/questions='Questions'
  /topics='Topics'
}}
{{declare 'help'
  /='Overview page with profile and all followed groups'
  /feed/all='Corresponds to “All” conversations in the Yammer web interface'
  /feed/discovery='Discovery feed'
  /feed/following='Shows news from groups and people you\'re following on Yammer'
  /grouped/all='Shows merged feed from selected groups'
  /grouped/questions='Shows merged questions from selected groups'
  /topics='Shows merged feed from selected topics'
}}
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-config" content="none"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{> title}} - Murmur</title>
    <link href="//cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      .user-info {
        display: grid;
        grid-template: none / auto max-content;
      }

      .hamburger {
        display: hidden;
        border: none;
        background: none;
        padding: 0;
      }

      @media only screen and (max-width: 767.98px) {
        #content {
          margin-top: 1em;
        }

        .user-info {
          grid-template: max-content auto / none;
          grid-gap: 2em;
        }

        .hamburger {
          width: 40px;
          height: 40px;
          padding: 12.5px;
          position: absolute;
          right: 0;
          top: 0;
          cursor: pointer;
          display: block;
        }

        .hamburger:focus {
          outline: none;
          background: rgba(0,0,0,.3);
        }

        .hamburger div {
          height: 3px;
          background: white;
          margin: 0 0 3px 0;
        }

        .ui.stackable.menu .item:not(.active) {
          display: none;
        }

        .ui.stackable.menu.open .item:not(.active) {
          display: block;
        }

        .ui.stackable.menu.open a:last-of-type {
          box-shadow: 0 5px 10px rgba(0,0,0,.3);
        }

        .ui.selection.dropdown {
          min-width: 0;
          width: calc(50% - 1ch);
        }

        .ui.selection.dropdown .menu {
          max-height: 20rem;
        }
      }
    </style>
  </head>
  <body class="pushable">
    <nav class="ui top fixed inverted stackable menu">
      {{#each navigation}}
        <a class="{{#if (equals request.uri.path @key)}}active violet{{/if}} item" href="{{@key}}">{{.}}</a>
      {{/each}}
      {{#if group}}
        <a class="active item" href="{{request.uri.path}}" style="background-color: {{group.color}}">{{group.full_name}}</a>
      {{/if}}
      {{#if user}}
        <a class="active purple item" href="{{request.uri.path}}">{{user.full_name}}</a>
      {{/if}}
      <button class="hamburger" onclick="$(this).parent().toggleClass('open')">
        <div></div>
        <div></div>
        <div></div>
      </button>
    </nav>

    <main class="pusher" style="padding: 50px 10px 0 10px">
      {{> content}}
    </main>

    <script src="//cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/handlebars@v4.7.6/dist/handlebars.js"></script>
    <script type="text/javascript">
      function contentState(threadStarter) {
        if (threadStarter.body.parsed !== undefined) {
          return threadStarter.body.parsed;
        } else if (null !== threadStarter.body.serializedContentState) {
          return threadStarter.body.parsed = JSON.parse(threadStarter.body.serializedContentState);
        } else if (null !== threadStarter.sharedMessage) {
          return threadStarter.body.parsed = JSON.parse(threadStarter.sharedMessage.body.serializedContentState);
        } else {
          return threadStarter.body.parsed = {blocks: []};
        }
      }

      Handlebars.registerHelper('match', function(value, options) {
        this.match = value;
        return options.fn(this);
      });

      Handlebars.registerHelper('case', function(value, options) {
        if (value == this.match) {
          return options.fn(this);
        }
      });

      Handlebars.registerHelper('size', function(value) {
        return Object.keys(value).length;
      });

      Handlebars.registerHelper('type', function(message) {
        if (message.isAnnouncement) {
          return 'announcement';
        } else if (message.threadStarter.isQuestion) {
          return 'question';
        } else if ('PollMessageContent' === message.threadStarter.content.__typename) {
          return 'poll';
        } else if ('PraiseMessageContent' === message.threadStarter.content.__typename) {
          return 'praise';
        } else {
          return 'update';
        }
      });

      Handlebars.registerHelper('add', function(value, add) {
        return Number(value) + Number(add);
      });

      Handlebars.registerHelper('equals', function(value, compare) {
        return value == compare;
      });

      Handlebars.registerHelper('date', function(value) {
        return value.replace('T', ' ').replace(/:[0-9]+\.[0-9]+Z$/, '');
      });

      Handlebars.registerHelper('avatar', function(user) {
        return user.avatarUrlTemplate.replaceAll(/\{(width|height)\}/g, 48);
      });

      Handlebars.registerHelper('image', function(template, context) {
        return template.replaceAll(/\{([^}]+)\}/g, (match, placeholder) => context.hash[placeholder]);
      });

      Handlebars.registerHelper('likes', function(reactions) {
        if (reactions.totalCount > 0) {
          return '<i class="heart outline like icon"></i> ' + reactions.totalCount;
        }
        return '';
      });

      Handlebars.registerHelper('first', function(threadStarter) {
        const content = contentState(threadStarter).blocks[0].text;

        if (content.length > 100) {
          return content.substring(0, 100) + '…';
        } else if (content) {
          return content;
        } else {
          return '…';
        }
      });

      Handlebars.registerHelper('body', function(threadStarter) {
        const body = contentState(threadStarter);

        let content = '';
        for (const block of body.blocks) {
          content += block.text;
        }
        return content;
      });

      Handlebars.registerHelper('render', function(threadStarter) {
        const body = contentState(threadStarter);
        const markup = {
          ITALIC : 'em',
          BOLD   : 'strong'
        };

        console.log(body);
        const format = function(block) {
          let result = '';

          let start = 0;
          for (const range of block.inlineStyleRanges) {
            let before = block.text.substring(start, range.offset);
            let between = block.text.substring(range.offset, range.offset + range.length);

            result += before + '<' + markup[range.style] + '>' + between + '</' + markup[range.style] + '>';
            start = range.offset + range.length;
          }

          return result + block.text.substring(start);
        };

        let result = '';
        let list = false;
        for (const block of body.blocks) {
          switch (block.type) {
            case 'unordered-list-item':
              if (!list) result += "<ul>\n";
              list= true;
              result += '<li>' + format(block) + '</li>';
              break;

            case 'unstyled':
              if (list) result += "</ul>\n";
              list= false;
              result += format(block) + '<br>';
              break;

            default:
              console.error('Ignorning unknown block type ' + block.type, block);
          }

          // For readability only
          result += "\n";
        }
        return result;
      });
    </script>
    {{> script}} 
  </body>
</html>